# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\univer\foxmula intern\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
